.Todo__trash {
  width: 32px;
  height: 32px;

  background-color: transparent;
  border: none;

  margin-right: 25px;
  padding: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Todo__trash:hover {
  cursor: pointer;
}
