$primary: #f25551;
$second-200: #feede1;
$second-100: #fffbff;
$green-gradient: #50f283;

$gradient: linear-gradient(
  180deg,
  #632329 0%,
  #f25551 49.65%,
  rgba(80, 242, 131, 0.8) 100%
);

$dark-900: #241722;
$dark-800: #352432;
$dark-700: #462730;
$dark-600: #632329;
